{% extends "ui/base.html" %}
{% block title %}{% endblock %}
{% block css %}
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row" style="border: 1px solid black; height: 200px;padding: 1% 0% 1% 0%;">
            <div class="col-md-3 col-md-offset-2 col-xs-4" style="border: 1px solid blue;height: 100%;">
                <p>头像</p>
                <p>修改头像</p>
            </div>
            <div class="col-md-5 col-xs-8" style="border: 1px solid blue;height: 100%;">
                <p>名字</p>
                <p>简介</p>
                <p>修改密码</p>
            </div>
        </div>
        <div class="row" style="border: 1px solid black; height: 200px;padding: 1% 0% 1% 0%;">
            <div class="col-md-8 col-md-offset-2 col-xs-12" style="border: 1px solid blue;height: 100%;">
                <p>饼状图</p>
                <p>主要信息</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}