{% extends 'ui/mainbase.html' %}
{% block title %}成员登录{% endblock %}

{% block css %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block main %}
    {#      登录表单#}
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3 col-xs-offset-1 col-sm-offset-1">
            <!--表单内核-->
            <form class="form-signin" method="post">
                <h2 class="form-signin-heading">登录</h2>
                <div class="form-group has-feedback">
                    {{ form.account }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    {% for err in form.account.errors %}
                        <div class="col-md-12">
                            <p style="color: red">{{ err }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group has-feedback">
                    {{ form.pwd }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    {% for err in form.pwd.errors %}
                        <div class="col-md-12">
                            <p style="color: red">{{ err }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-4">
                        {{ form.submit }}
                        {{ form.csrf_token }}
                    </div>
                </div>
            </form>
            <!-- 表单内核-->
        </div>
    </div>
    {#      登录表单#}
{% endblock %}
{% block script %}{% endblock %}