/* Custom Styles */
ul.sidenav-tabs {
    width: 125px;
    /*margin-top: 20px;*/
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

ul.sidenav-tabs li {
    margin: 0;
    border-top: 1px solid #ddd;
}

ul.sidenav-tabs li:first-child {
    border-top: none;
}

ul.sidenav-tabs li a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}

ul.sidenav-tabs li.active a, ul.nav-tabs li.active a:hover {
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.sidenav-tabs li:first-child a {
    border-radius: 4px 4px 0 0;
}

ul.sidenav-tabs li:last-child a {
    border-radius: 0 0 4px 4px;
}

/*ul.nav-tabs.affix {*/
    /*top: 55px;*/
/*}*/

/* Set the top position of pinned element */

