{% extends "ui/adminbase.html" %}


{% block title %}Core{% endblock %}

{% block css %}
    {#    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>#}
    {#    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>#}
    <script type="text/javascript" src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
    <style>
        .info-div {
            padding: 0px;
        }

        .info-content {
            padding-top: 20px;
            border-left: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
        }
    </style>
{% endblock %}


{% block sidebar %}
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        {% include "ui/sidebar.html" %}
    </div>
{% endblock %}


{% block main %}
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="padding:0px;">
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-10 col-md-8 info-div">
                    <ul id="mytab" class="nav nav-tabs">
                        <li class="active"><a href="#content1" data-toggle="tab">Server Status</a></li>
                        <li><a href="#content2" data-toggle="tab">活动日历</a></li>
                        <li><a href="#content3" data-toggle="tab">Verbose Log</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content info-content">
                        <div class="tab-pane fade in active" id="content1">
                            <div style="height:500px;">
                                {{ myechart|safe }}
                            </div>
                            <div>
                                <button type="button" onclick="chartstart()" class="btn btn-default" id="btn-1">Start
                                </button>
                                <button type="button" onclick="chartstop(socket_glob)" class="btn btn-default"
                                        id="btn-2">
                                    Stop
                                </button>
                                <hr>
                                <form id="emit" action="#">
                                    <b>Update Frequency(s):</b><input id="emit_data" type="number" max="10" min="1"
                                                                      maxlength="2">
                                    <input type="submit" class="btn btn-default" value="Change">
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="content2">
                            <h2 id="section-100">第一部分</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam
                                at,
                                luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante.
                                Vestibulum id
                                metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet
                                sagittis.
                                In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam.
                                Quisque
                                aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique
                                eget
                                risus.
                                Integer aliquet quam ut elit suscipit, id interdum neque porttitor. Integer faucibus
                                ligula.</p>
                            <hr>
                        </div>
                        <div class="tab-pane" id="content3">
                            <div style="width: 100%; padding-left: 10px;">
                                <button class="btn btn-default" onclick="logon=true;">Start Log</button>
                                <button class="btn btn-default" onclick="logon=false;">Stop Log</button>
                                <button class="btn btn-default" onclick="clearlog()">Clear</button>
                                <hr>
                                <div id="verbose-log"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        OW = document.getElementById('serverow');
        var statchart = echarts.getInstanceByDom(OW);
        var logon = false;

        //准备好统一的 callback 函数
        var update_mychart = function (res) { //res是json格式的response对象

            // 隐藏加载动画
            {#mytest.hideLoading();#}

            // 准备数据
            var log = res.data;
            var v1 = [res.data[0], res.data[1], res.data[2]];

            if (logon) {
                $("#verbose-log").append("<b>" + log[3] + " | " + log[4] + " : </b>" + "CPU - " + log[0] + "%; " + "Mem - " + log[1] + "%; " + "Net - " + log[2] + "% <br>");
            }
            ;


            // 填入数据
            statchart.setOption({
                series: [{
                    name: 'Win10', // 根据名字对应到相应的系列
                    data: v1
                }]
            });

        };


        var socket_glob;

        function chartstart() {
            namespace = '/serverow';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket_glob = socket;
            socket.on('server_response', function (res) {
                update_mychart(res);
            });
            $("#btn-1").addClass("disabled");
            $("#btn-1").attr("disabled", true);
            $("#btn-2").removeClass("disabled");
            $("#btn-2").removeAttr("disabled");
        };

        function chartstop(socket) {
            socket.disconnect();
            res = {'data': [0, 0, 0, 0, 0]};
            update_mychart(res);
            $("#btn-2").addClass("disabled");
            $("#btn-2").attr("disabled", true);
            $("#btn-1").removeClass("disabled");
            $("#btn-1").removeAttr("disabled");
        };

        function clearlog() {
            $("#verbose-log").html("")
        };

        $('form#emit').submit(function (event) {
            socket = socket_glob;
            socket.emit('freq', {data: $('#emit_data').val()});
            return false;
        });

        // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
        $(document).ready(function () {
            chartstart();
        });

    </script>
    <script>
        $(document).ready(function () {
            $("#section-1").addClass("active");
            $("#n-1").addClass("active");
            $("#bn-1").addClass("active");
        });
    </script>
{% endblock %}
