{% extends "ui/adminbase.html" %}


{% block title %}Core{% endblock %}

{% block css %}

{% endblock %}


{% block sidebar %}
    {% include "ui/sidebar.html" %}
{% endblock %}


{% block main %}
    <section>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">
                <div>
                    <div align="center" class="jumbotron">
                        hi
                    </div>
                    <h2 id="section-1">第一部分</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at,
                        luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id
                        metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet
                        sagittis.
                        In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam.
                        Quisque
                        aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique eget
                        risus.
                        Integer aliquet quam ut elit suscipit, id interdum neque porttitor. Integer faucibus
                        ligula.</p>
                    <hr>
                    <div align="center"><h4><a href="#" style="color: orangered;">后台主页</a></h4></div>
                    <div align="center"><h4><a href="#">服务器状态</a></h4></div>
                    <div align="center"><h4><a href="#">查看Tan信息</a></h4></div>
                    <div align="center"><h4><a href="{{ url_for('admin.memberlist',page=1) }}">成员列表</a></h4></div>
                    <div align="center"><h4><a href="#">查看成员信息</a></h4></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            $("#section-1").addClass("active");
        });
    </script>
{% endblock %}
