{% extends "ui/adminbase.html" %}


{% block title %}成员列表{% endblock %}


{% block css %}
    <style>
        .membericon {
            width: 80%;
            border-radius: 95%;
            margin: auto;
            position: relative;
            display: block;
        }
    </style>
{% endblock %}


{% block sidebar %}
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
    {% include "ui/sidebar.html" %}
    </div>
{% endblock %}


{% block main %}
    <section>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding: 0px 5px;">
                <div class="col-xs-12 col-lg-9"
                     style="box-shadow: 0 5px 3px 3px #ebf2ff; margin-bottom: 10px;padding:5px;">
                    <a class="btn btn-primary" href="{{ url_for('admin.register') }}">添加成员</a>
                </div>

                {% for v in page_data.items %}
                    <div class="col-xs-12 col-lg-9"
                         style="box-shadow: 0 5px 3px 3px #ebf2ff; margin-bottom: 10px;padding:5px;">
                        <div style="width: 30%; border-right: 1px solid black;float:left;">
                            <img class="membericon" src="{{ url_for('static',filename='uploads/members/'+v.face) }}"
                                 alt="">
                        </div>
                        <div style="width: 50%; border-right: 1px solid black;float: left">
                            <p>Nickname: {{ v.nickname }}</p>
                            <p>Mobile: {{ v.mobile }}</p>
                        </div>


                        <div style="width: 20%;float: left;">
                            <a href="#">查看</a><br>
                            <a href="#">冻结/解除</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            $("#section-3").addClass("active");
            $("#bn-2").addClass("active");
        });
    </script>
{% endblock %}