{% extends "ui/adminbase.html" %}
{% block title %} 添加成员 {% endblock %}

{% block css %}

{% endblock %}

{% block sidebar %}
    <div class="col-md-1 col-lg-1 hidden-xs hidden-sm">

    </div>
{% endblock %}

{% block main %}
    <section>
        <form class="form-group" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"><span
                                aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">添加新成员</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group has-feedback">
                            <label for="input_oldpwd">{{ form.account.label }}</label>
                            {{ form.account }}
                            {% for err in form.account.errors %}
                                <div class="col-md-12">
                                    <p style="color: red">{{ err }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group has-feedback">
                            <label for="input_pwd">{{ form.mobile.label }}</label>
                            {{ form.mobile }}
                            {% for err in form.mobile.errors %}
                                <div class="col-md-12">
                                    <p style="color: red">{{ err }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group has-feedback">
                            <label for="input_pwd">{{ form.pwd.label }}</label>
                            {{ form.pwd }}
                            {% for err in form.pwd.errors %}
                                <div class="col-md-12">
                                    <p style="color: red">{{ err }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group has-feedback">
                            <label for="input_repwd">{{ form.repwd.label }}</label>
                            {{ form.repwd }}
                            {% for err in form.repwd.errors %}
                                <div class="col-md-12">
                                    <p style="color: red">{{ err }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" type="button" href="{{ url_for("admin.memberlist",page=1) }}">关闭</a>
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </section>


{% endblock %}

{% block script %}


{% endblock %}