<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Tans</title>
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <style>
        body {
            background-color: #fff;
            padding-top: 58px;
            padding-bottom: 70px;
        }

        .nav-logo {
            margin-left: 10%;
            padding: 5px 0px 0px 0px;
            height: 90%;
            border-radius: 90%;
        }

    </style>
    <style>
        .nav {
            padding: 0px;
            margin: 0px;
        }

        .navbar-nav {
            padding: 0px 15px;
        }

        .btm-icon {
            font-size: 20px;
        }
    </style>
    {% block css %}{% endblock %}

    {#    <script src="../../static/js/jquery-3.3.1.min.js"></script>#}
    {#    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">#}
    {#    <script src="../../static/js/bootstrap.min.js"></script>#}

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-top" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('admin.index') }}" class="navbar-brand"
               style="width:100px;padding: 0px;margin-left:0px;">
                <img class="nav-logo" src="{{ url_for('static',filename ='images/kumamoto.jpg') }}">
                {#                &nbsp;Tan#}
            </a>
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div id="navbar-top" class="collapse navbar-collapse">
            {#            <form class="navbar-form navbar-left" role="search" style="margin-top:18px;">#}
            {#                <div class="form-group input-group">#}
            {#                    <input type="text" class="form-control" placeholder="请输入电影名！">#}
            {#                    <span class="input-group-btn">#}
            {#                        <a class="btn btn-default" href="{{url_for('main.index')}}"><span class="glyphicon glyphicon-search"></span>&nbsp;搜索</a>#}
            {#                    </span>#}
            {#                </div>#}
            {#            </form>#}
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden-xs hidden-sm">
                    <a class="curlink" href="{{ url_for('admin.index') }}"><span
                            class="glyphicon glyphicon-equalizer"></span>&nbsp;管理面板</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if "online" in get_flashed_messages(category_filter=["ok"]) %}
                    <li class="hidden-xs hidden-sm">
                        <a class="curlink" href="#">Online</a>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        <a class="curlink" href="{{ url_for('admin.account') }}"><span
                                class="glyphicon glyphicon-user"></span>&nbsp;个人信息</a>
                    </li>
                    <li>
                        <a class="curlink" href="{{ url_for('admin.logout') }}"><span
                                class="glyphicon glyphicon-log-out"></span>&nbsp;退出</a>
                    </li>
                {% else %}
                    {#                {% if msg in get_flashed_messages(category_filter=["err"]) == 'offline' %}#}
                    <li>
                        <a class="curlink" href="{{ url_for('main.login') }}"><span
                                class="glyphicon glyphicon-log-in"></span>&nbsp;登录</a>
                    </li>
                    <li>
                        <a class="curlink" href="{{ url_for('admin.login') }}"><span
                                class="glyphicon glyphicon-plus"></span>&nbsp;注册</a>
                    </li>

                {% endif %}
            </ul>
        </div>
        <!--导航-->
    </div>
</nav>
{% block main %}{% endblock %}
<nav class="navbar-fixed-bottom navbar-inverse hidden-lg hidden-md ">
    <div class="container" align="center" style="padding:0px;">
        <div class="col-xs-4">
            <ul class="nav navbar-nav">
                <li>
                    <a class="curlink" href="{{ url_for('admin.index') }}"><span class="glyphicon glyphicon-equalizer btm-icon"></span></a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <ul class="nav navbar-nav">
                <li>
                    <a class="curlink" href="#"><span class="glyphicon glyphicon-align-justify btm-icon"></span></a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <ul class="nav navbar-nav">
                <li>
                    <a class="curlink" href="{{ url_for('admin.account') }}"><span class="glyphicon glyphicon-user btm-icon"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs hidden-sm">
    <div style="text-align:center">
        继承自父模板 - adminbase.html
    </div>
</nav>
</body>
{% block script %}{% endblock %}
</html>