<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/sidebar.css') }}">
    <ul class="nav sidenav-tabs nav-stacked" data-spy="affix" data-offset-top="0">
        <li id="section-1"><a href="{{ url_for('main.home') }}">概览</a></li>
        <li id="seciont-2"><a href="{{ url_for('main.database') }}">数据记录</a></li>
        <li id="section-3"><a href="{{ url_for('main.database') }}">成员</a></li>
        <li id="section-4"><a href="{{ url_for('main.database') }}">test1</a></li>
        <li id="seciton-5"><a href="{{ url_for('main.database') }}">jstest</a></li>
    </ul>
</div>