<link rel="stylesheet" href="{{ url_for('static',filename='css/sidebar.css') }}">
<ul class="nav sidenav-tabs nav-stacked" data-spy="affix" data-offset-top="0">
    <li id="section-1"><a href="{{ url_for('admin.index') }}">Info Panel</a></li>
    <li id="seciont-2"><a href="{{ url_for('admin.index') }}">Core Console</a></li>
    <li id="section-3"><a href="{{ url_for('admin.memberlist',page=1) }}">Members</a></li>
    <li id="section-4"><a href="{{ url_for('admin.test') }}">test</a></li>
    <li id="seciton-5"><a href="{{ url_for('admin.jstest') }}">jstest</a></li>
</ul>